<%= simple_form_for(@my_template) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :my_template_name %>
    <%= f.input :my_template_type %>
    <%= f.input :my_template_body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
